/* SCALE */

:root {
  --viewport-basis: 414;
  --grid-inset: 24px;
  --messagebar-height: 61px;
  --info-block-position: 205px; /* pt-w8 ? */
  --text-ratio: theme(responsiveScale.textXs);
  --title-ratio: theme(responsiveScale.titleXs);
  --space-ratio: theme(responsiveScale.spaceXs);
}
@screen sm {
  :root {
    --viewport-basis: 768;
    --text-ratio: theme(responsiveScale.textSm);
    --title-ratio: theme(responsiveScale.titleSm);
    --space-ratio: theme(responsiveScale.spaceSm);
  }
}
@screen lg {
  :root {
    --viewport-basis: 1024;
    --grid-inset: 32px;
    --text-ratio: theme(responsiveScale.textMd);
    --title-ratio: theme(responsiveScale.titleMd);
    --space-ratio: theme(responsiveScale.spaceMd);
  }
}
@screen 2xl {
  :root {
    --viewport-basis: 2080;
  }
}
