/* CONTAINER VAR */
.container--su {
  max-width: none !important;
}
@screen xl {
  .container--su {
    padding-left: 7vw !important;
    padding-right: 7vw !important;
  }
}
@media (min-width: 1800px) {
  .container--su {
    padding-left: 14vw !important;
    padding-right: 14vw !important;
  }
}

/* editor inset */
.container-inset {
  padding-left: calc(theme(spacing.10) * var(--block-size-ratio));
  padding-right: calc(theme(spacing.10) * var(--block-size-ratio));
}
