/*

  SECTION BLOCKS
  Used to create white space on the y-axis between content sections

*/

:root {
  --block-size-ratio: theme(responsiveScale.blockXs);
}
@screen sm {
  :root {
    --block-size-ratio: theme(responsiveScale.blockSm);
  }
}
@screen lg {
  :root {
    --block-size-ratio: theme(responsiveScale.blockMd);
  }
}

/* LG */

.Block {
  margin-top: calc(theme(spacing.24) * var(--block-size-ratio));
  margin-bottom: calc(theme(spacing.24) * var(--block-size-ratio));
}
.Block-b {
  margin-bottom: calc(theme(spacing.24) * var(--block-size-ratio));
}
.Block-t {
  margin-top: calc(theme(spacing.24) * var(--block-size-ratio));
}
.Block--hgroup {
  /* margin-top: calc(theme(spacing.12) - theme(spacing.3)); */
  margin-top: calc((theme(spacing.24) - theme(spacing.12)) * var(--block-size-ratio));
}
.Block--footer {
  /* margin-top: calc(theme(spacing.12) - theme(spacing.3)); */
  margin-top: calc((theme(spacing.24) - theme(spacing.12)) * var(--block-size-ratio));
}

/* MD */

.Block-md {
  margin-top: calc(theme(spacing.16) * var(--block-size-ratio));
  margin-bottom: calc(theme(spacing.16) * var(--block-size-ratio));
}
.Block-md-b {
  margin-bottom: calc(theme(spacing.16) * var(--block-size-ratio));
}
.Block-md-t {
  margin-top: calc(theme(spacing.16) * var(--block-size-ratio));
}

/* SM */

.Block-sm {
  margin-top: calc(theme(spacing.12) * var(--block-size-ratio));
  margin-bottom: calc(theme(spacing.12) * var(--block-size-ratio));
}
.Block-sm-b {
  margin-bottom: calc(theme(spacing.12) * var(--block-size-ratio));
}
.Block-sm-t {
  margin-top: calc(theme(spacing.12) * var(--block-size-ratio));
}

