/* recommended css code for vue-svgicon */
.icon,
.svg-icon {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-icon {
  width: 16px;
  height: 16px;
  /* theme */
  transform: translateY(-0.1em);
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

/* old Icon styles for ref */

.Icon {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  max-width: 100%;
  position: relative;
  text-align: center;
  user-select: none;
  /* choose an alignment method: */
  transform: translateY(-1px);
  /* margin-bottom: 2px; */
  /* vertical-align: middle; */
}

.Icon svg {
  display: inline-block;
  fill: currentColor;
  transition: fill 280ms ease;
  width: 100%;
}
