/*

  Sans

 */

@font-face {
  font-family: "IBMPlexSans";
  src: url("~@/assets/fonts/IBMPlexSans-Text.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

/*

  Mono

 */

@font-face {
  font-family: "IBMPlexMono";
  font-weight: 400;
  src: url("~@/assets/fonts/IBMPlexMono-Text.woff") format("woff");
}
@font-face {
  font-family: "IBMPlexMono";
  font-weight: 500;
  src: url("~@/assets/fonts/IBMPlexMono-Medium.woff") format("woff");
}
@font-face {
  font-family: "IBMPlexMono";
  font-weight: 600;
  src: url("~@/assets/fonts/IBMPlexMono-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "IBMPlexMono";
  font-weight: 700;
  src: url("~@/assets/fonts/IBMPlexMono-Bold.woff") format("woff");
}

