/*

  Based on Apple's blue: rgb(0,122,255) or hsl(211%, 100%, 50%)
  See: https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a

 */

:root {
  /* hues */
  /* --hue: 211; */ /* Blue */
  --hue: 36; /* Brown */
  --accent-hue: 25; /* Orange */

  /* alphas */
  --alpha-hover: 0.3;
  --alpha-selected: 0.125;

  /* merged */
  /* --color-normal: hsla(var(--hue), 100%, 50%, 1); */
  --color-normal: hsla(var(--hue), 100%, 33%, 1);
  --color-hover: hsla(var(--hue), 100%, 33%, var(--alpha-hover));
  --color-selected: hsla(var(--hue), 100%, 33%, var(--alpha-selected));
  /* --color-highlight: hsl(var(--accent-hue), 70%, 45%); */
}
